/* POST SOBRE TOKYO */
.tokyo-post h2,
.recommended-posts h2 {
  font-size: 32px;
}

.tokyo-post-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.tokyo-post-info p,
.recommended-posts p {
  line-height: 1.5;
}

.arrival,
.accommodation,
.touring,
.shopping,
.food,
.conclusion {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tokyo-post-info .arrival .text-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.arrival img,
.accommodation img {
  width: 312px;
  height: 360px;
}

.tokyo-1-desktop,
.tokyo-2-tablet,
.tokyo-2-desktop {
  display: none;
}

.accommodation figcaption {
  font-size: 14px;
  color: var(--text-primary-color);
  padding-top: 8px;
}

/*  */

/* POSTS RECOMENDADOS */
.recommended-posts-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.recommended-posts .item {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: var(--text-primary-color);
  gap: 24px;
}

.recommended-posts .item header {
  display: contents;
  background-color: transparent;
  padding: 0 0;
  position: static;
}

.recommended-posts .img-item.osaka {
  height: 300px;
  background: url(../img/blog/osaka/recommended-osaka-celular.jpg) no-repeat;
  background-size: cover;
}

.recommended-posts .img-item.hiroshima {
  height: 300px;
  background: url(../img/blog/hiroshima/recommended-hiroshima-celular.jpg)
    no-repeat;
  background-size: cover;
}

.recommended-posts .img-item.kyoto {
  height: 300px;
  background: url(../img/blog/kyoto/recommended-kyoto-celular.jpg) no-repeat;
  background-size: cover;
}

.recommended-posts .item footer {
  width: 100%;
}
/*  */

@media screen and (min-width: 768px) {
  .tokyo-post-info .arrival {
    flex-direction: row;
  }

  .tokyo-post-info .accommodation img {
    width: 648px;
    height: 300px;
  }

  .tokyo-post-info .tokyo-2-celular {
    display: none;
  }

  .tokyo-post-info .tokyo-2-tablet {
    display: block;
  }

  /* POSTS RECOMENDADOS */
  .recommended-posts .img-item.osaka {
    background: url(../img/blog/osaka/recommended-osaka-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .recommended-posts .img-item.hiroshima {
    background: url(../img/blog/hiroshima/recommended-hiroshima-tablet.jpg)
      no-repeat;
    background-size: cover;
  }

  .recommended-posts .img-item.kyoto {
    background: url(../img/blog/kyoto/recommended-kyoto-tablet.jpg) no-repeat;
    background-size: cover;
  }
  /*  */
}

@media screen and (min-width: 1024px) {
  .tokyo-post-info .accommodation img {
    width: 900px;
  }

  .tokyo-post-info .tokyo-2-tablet {
    display: none;
  }

  .tokyo-post-info .tokyo-2-desktop {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .tokyo-post-info .arrival img {
    width: 588px;
  }

  .tokyo-post-info .tokyo-1-mobile {
    display: none;
  }

  .tokyo-post-info .tokyo-1-desktop {
    display: block;
  }

  .tokyo-post-info .accommodation img {
    width: 1200px;
  }

  /* POSTS RECOMENDADOS */
  .recommended-posts-container {
    flex-direction: row;
  }

  .recommended-posts .item {
    width: 384px;
  }

  .recommended-posts .img-item.osaka {
    background: url(../img/blog/osaka/recommended-osaka-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .recommended-posts .img-item.hiroshima {
    background: url(../img/blog/hiroshima/recommended-hiroshima-desktop.jpg)
      no-repeat;
    background-size: cover;
  }

  .recommended-posts .img-item.kyoto {
    background: url(../img/blog/kyoto/recommended-kyoto-desktop.jpg) no-repeat;
    background-size: cover;
  }
  /*  */
}
