:root {
  --bg-primay: #ffffff;
  --bg-secondary: #f5f5f5;
  --bg-tertiary: #000000;

  --primary-color: #b81515;
  --secondary-color: #8f0101;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --fg-icons: #8c8c8c;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

body {
  color: var(--text-primary-color);
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0 auto;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--primary-color);
  border: none;
  margin: 16px auto 32px;
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
    padding: 0 auto;
  }
}
