header {
  background-color: var(--bg-tertiary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 37px 48px;
  position: relative;
}

.home {
  display: inline-block;
}

.mobile-logo {
  display: block;
}

.desktop-logo {
  display: none;
}

.navigation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--bg-tertiary);
}

.list-links li {
  margin: 16px 30px;
}

.list-links li a {
  text-decoration: none;
  color: var(--text-secondary-color);
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}

nav {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    align-items: center;
  }

  .navigation-menu {
    margin-top: 0;
    width: 467px;
  }
  .navigation-menu label {
    display: none;
  }

  .navigation-menu nav {
    display: block;
  }

  .list-links {
    display: flex;
    justify-content: space-between;
  }

  .list-links li {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding-left: 120px;
    padding-right: 120px;
  }

  .home {
    width: 260px;
    height: 64px;
  }

  .mobile-logo {
    display: none;
  }

  .desktop-logo {
    display: block;
  }

  .navigation-menu a {
    transition-property: color;
    transition-duration: 0.3s;
  }

  .navigation-menu a:hover {
    color: var(--secondary-color);
    transition-property: color;
    transition-duration: 0.3s;
  }
}

@media screen and (min-width: 1920px) {
  header {
    padding-left: 160px;
    padding-right: 160px;
  }
}
