header {
  background-color: var(--bg-tertiary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 37px 48px;
}

.logo {
  display: inline-block;
}

.navigation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}

nav {
  display: none;
}
