.hero-img {
  width: 100%;
  height: 400px;
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.hero h2 {
  font-size: 20px;
  font-weight: var(--text-weight);
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    font-size: 32px;
  }
}
