.main-header-hero-img {
  width: 100%;
  height: 400px;
  background: url(../img/header-hero/mobile/header-hero-celular.jpg) no-repeat;
  background-size: cover;
}

.main-hero h2 {
  font-size: 20px;
  font-weight: var(--text-weight);
  text-align: center;
  line-height: 1.5;
  margin: 0;
  padding: 88px 24px 0;
}

.second {
  padding-bottom: 0;
}

.main-footer-hero-img {
  width: 100%;
  height: 400px;
  background: url(../img/footer/hero/mobile/footer-hero-celular.jpg) no-repeat;
  background-size: cover;
}

/* PACOTES DE VIAGENS */
.travel-combos-header-hero-img {
  padding: 65px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.travel-combos-hero-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.travel-combos-hero h2 {
  font-size: 48px;
  font-weight: var(--title-weight);
  color: var(--text-secondary-color);
}

.travel-combos-hero hr {
  width: 180px;
  height: 4px;
  background-color: var(--primary-color);
  border: none;
}

.travel-combos-hero p {
  color: var(--text-secondary-color);
  line-height: 1.5;
}

.travel-combos-header-hero-img {
  width: 100%;
  height: 460px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/pacotes-de-viagens/header-hero/banner-japao-celular.jpg)
      no-repeat;
  background-size: cover;
}

.travel-combos-footer-hero-img {
  width: 100%;
  height: 400px;
  background: url(../img/pacotes-de-viagens/footer-hero/travel-combos-footer-hero-celular.jpg)
    no-repeat;
  background-size: cover;
}
/*  */

/* BLOG */
.blog-hero {
  width: 100%;
}

.blog-header-hero-img {
  height: 460px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/blog/header-hero/blog-header-hero-celular.jpg) no-repeat;
  background-size: cover;
  padding: 81px 24px;
}

.blog-header-hero-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blog-header-hero-title h2 {
  font-size: 48px;
  font-weight: var(--title-weight);
  color: var(--text-secondary-color);
}

.blog-header-hero-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--primary-color);
  border: none;
}

.blog-header-hero-text p {
  color: var(--text-secondary-color);
  line-height: 1.5;
}
/*  */

@media screen and (min-width: 768px) {
  .main-header-hero-img {
    height: 620px;
    background: url(../img/header-hero/mobile/header-hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .main-hero h2 {
    font-size: 32px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .main-footer-hero-img {
    background: url(../img/footer/hero/mobile/footer-hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  /* PACOTES DE VIAGENS */
  .travel-combos-header-hero-img {
    height: 620px;
    background:
      linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../img/pacotes-de-viagens/header-hero/banner-japao-tablet.jpg)
        no-repeat;
    background-size: cover;
    padding: 65px 145px 0 70px;
  }

  .travel-combos-hero p {
    font-size: 32px;
  }

  .travel-combos-footer-hero-img {
    background: url(../img/pacotes-de-viagens/footer-hero/travel-combos-footer-hero-tablet.jpg)
      no-repeat;
    background-size: cover;
  }
  /*  */

  /* BLOG */
  .blog-header-hero-img {
    height: 620px;
    background:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/blog/header-hero/blog-header-hero-tablet.jpg) no-repeat;
    background-size: cover;
    padding: 158px 95px;
  }

  .blog-header-hero-text p {
    font-size: 32px;
  }
  /*  */
}

@media screen and (min-width: 1024px) {
  .main-header-hero-img {
    background: url(../img/header-hero/desktop/header-hero-desktop.jpg)
      no-repeat;
    background-size: cover;
  }

  .main-hero h2 {
    font-size: 32px;
    padding: 104px 120px 0;
  }

  .main-footer-hero-img {
    height: 600px;
  }

  /* PACOTES DE VIAGENS */
  .travel-combos-header-hero-img {
    background-position-y: center;
  }

  .travel-combos-footer-hero-img {
    height: 600px;
  }
  /*  */

  /* BLOG */
  .blog-header-hero-img {
    background:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/blog/header-hero/blog-header-hero-desktop.jpg) no-repeat;
    background-size: cover;
    padding: 100px 140px;
  }
  /*  */
}

@media screen and (min-width: 1440px) {
  .main-footer-hero-img {
    background: url(../img/footer/hero/desktop/footer-hero-desktop.jpg)
      no-repeat;
    background-size: cover;
  }

  /* PACOTES DE VIAGENS */
  .travel-combos-header-hero-img {
    padding: 158.5px 741px 158.5px 120px;
    background: url(../img/pacotes-de-viagens/header-hero/banner-japao-desktop.jpg)
      no-repeat;
    background-size: cover;
  }

  .travel-combos-footer-hero-img {
    background: url(../img/pacotes-de-viagens/footer-hero/travel-combos-footer-hero-desktop.jpg)
      no-repeat;
    background-size: cover;
  }
  /*  */

  /* BLOG */
  .blog-header-hero-img {
    padding: 158.5px 741px 158.5px 120px;
  }
}
