.payments {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.payments .text-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.payments .img-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 24px;
  height: 460px;
  width: 100%;
}

.payments .image.bag {
  background: url(../img/condicoes-de-pagamento/mobile/bag-celular.jpg)
    no-repeat;
  background-size: cover;
}

.payments .image.passport {
  background: url(../img/condicoes-de-pagamento/mobile/passport-celular.jpg)
    no-repeat;
  background-size: cover;
}

.payments .image.people {
  grid-column: span 2;
  background: url(../img/condicoes-de-pagamento/mobile/people-celular.jpg)
    no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .payments .image.bag {
    background: url(../img/condicoes-de-pagamento/mobile/bag-tablet.jpg)
      no-repeat;
    background-size: cover;
  }

  .payments .image.passport {
    background: url(../img/condicoes-de-pagamento/mobile/passport-tablet.jpg)
      no-repeat;
    background-size: cover;
  }

  .payments .image.people {
    background: url(../img/condicoes-de-pagamento/mobile/people-tablet.jpg)
      no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments {
    flex-direction: row;
    justify-content: space-between;
  }

  .payments .text-content {
    width: 384px;
  }

  .payments .img-content {
    width: 790px;
  }

  .payments .image.bag {
    background: url(../img/condicoes-de-pagamento/desktop/bag-desktop.jpg)
      no-repeat;
    background-size: cover;
  }

  .payments .image.passport {
    background: url(../img/condicoes-de-pagamento/desktop/passport-desktop.jpg)
      no-repeat;
    background-size: cover;
  }

  .payments .image.people {
    background: url(../img/condicoes-de-pagamento/desktop/people-desktop.jpg)
      no-repeat;
    background-size: cover;
  }
}
