.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.destinations .item {
  text-align: left;
  color: var(--text-primary-color);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.destinations .item header {
  display: contents;
  background-color: transparent;
  padding: 0 0;
  position: static;
}

.destinations .img-item.tokyo {
  height: 360px;
  background: url(../img/destinos-populares/mobile/tokyo-celular.jpg) no-repeat;
  background-size: cover;
}

.destinations .img-item.osaka {
  height: 360px;
  background: url(../img/destinos-populares/mobile/osaka-celular.jpg);
  background-size: cover;
}

.destinations .item footer {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .destinations .img-item.tokyo {
    height: 452px;
    background: url(../img/destinos-populares/mobile/tokyo-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .destinations .img-item.osaka {
    height: 452px;
    background: url(../img/destinos-populares/mobile/osaka-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .destinations .item footer {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .destinations .item {
    width: 648px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  .destinations .item {
    width: 588px;
  }

  .destinations .img-item.tokyo {
    width: 588px;
    background: url(../img/destinos-populares/desktop/tokyo-desktop.jpg)
      no-repeat;
    background-size: cover;
  }

  .destinations .img-item.osaka {
    width: 588px;
    background: url(../img/destinos-populares/desktop/osaka-desktop.jpg)
      no-repeat;
    background-size: cover;
  }
}
