.testimonies-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimony {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.testimony p {
  font-size: 16px;
}

.testimony footer {
  display: grid;
  grid-template-columns: 86px 1fr;
  height: 86px;
  gap: 24px;
}

.testimony .user-picture {
  width: 86px;
}

.testimony .profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.testimony .profile-content h3 {
  font-size: 20px;
}

.testimony .profile-content .review {
  display: inline-block;
  line-height: 32px;
  height: 32px;
}

.testimony .profile-content .star {
  font-size: 39px;
  color: var(--primary-color);
}

@media screen and (min-width: 1440px) {
  .testimonies-container {
    flex-direction: row;
  }

  .testimony {
    width: 384px;
  }
}
